.sphereAbout {
       margin: 150px 20px 100px 5px;
       height: 500px !important;

}
@media screen and (max-width: 896px) {
       .sphereAbout {
              margin: 0px 100px 0px -120px;
       
       }

}
