.contact{
     margin: 40px 0px 0px 10px;
     display: flex;
     flex-direction: row;
}
    
  .contact_details {
            display: flex;
            flex-direction: column;
   h1{
      color: aquamarine;
      font-weight: 600;
      font-size: 55px;
      margin-left: 10px;
    }

    p {
         color: azure;
        max-width: 95%;
         font-size: 23px;
         line-height: 30px;
         padding: 10px;
         align-self: flex-start;
        
    }
}
@media screen and (max-width: 896px) {
  .contact {
     display: flex;
     flex-direction: column;
}   
}
 