@mixin form_input{
      padding: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
      height: 60px;
      font-size: 20px;
      background-color: rgba(77, 76, 76, 0.649);
}
.form{
      width: 100%;
      color: white;
      margin-top: 50px;
   
      input[id=name],input[id=email]{
            color: darkgray;
            @include form_input;
            width: 39%;
   }
      input[id=subject],input[id=message] {
            display: flex;
            flex-direction: column;
            @include form_input;
            width: 80%;
            }

      input[id=message]{
         height: 120px;
      }

   button {
      align-self: center;
      align-items: center;
      height: 70px;
      font-size: 23px;
      background: #1d1d1d;
      color: #08fdd8;
      border: 1px solid #08fdd8;
      padding: 20px;
      width: 250px;
      margin: 20px 100px 0px 227px;
      
     
   }

}
