@mixin main_color {
   color: aquamarine;
}
.about {
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   padding: 10px;
   margin: 50px 0px 0px 10px;


   .about_title {
      @include main_color;
      font-weight: 800;
      font-size: 60px;
      margin: 10px;

   }

      .about_details {
        color: azure;
        width: 50%;
        font-size: 35x;
        line-height: 35px;
        margin-bottom: 25px;
        align-self:flex-start;
      }
      .about_details_link{
       
       font-size: 30px;
      }
         span{
         @include main_color;
         }

}