.contact{
   h1{
      color: aquamarine;
      font-weight: 800;
      font-size: 60px;
      margin: 10px;
    }
    p{
         color: azure;
         width: 40%;
         font-size: 30px;
         line-height: 40px;
         padding: 20px;
         align-self: flex-start;
    }
}