.contact{
     margin: 40px 0px 0px 10px;
     
   h1{
      color: aquamarine;
      font-weight: 600;
      font-size: 55px;
      margin-left: 10px;
    }

    p {
         color: azure;
         width: 40%;
         font-size: 23px;
         line-height: 30px;
         padding: 10px;
         align-self: flex-start;
        
    }
}