@mixin main_color {
      color: aquamarine;
}

.about_education{
   width: 100%;
   margin-left: 10px;
   padding: 10px;
   align-self: center;
  
   h1{
      @include main_color;
      font-weight: 800;
      font-size: 60px;
      margin: 10px;
   } 
   h2{
         @include main_color;
         font-weight: 500;
         font-size: 50px;
         margin: 10px;
   }
   h3{
         color: whitesmoke;
         font-weight: 400;
         font-size: 30px;
         margin: 10px;
   }  
   .education_details{
         color: darkgrey;
         font-family: "Open Sans", sans-serif;
         font-size: 24px;
         line-height: 25px;
         margin-bottom: 20px;
   }
   .education_details_link {
         color: darkgrey;
         margin-bottom: 15px;
         font-size: 25px;
      
          span {
               @include main_color;  
          }
   }
 
}
@media screen and (max-width: 896px) {
      .about_education {
             width:70%;
             margin: 50px 100px 0px -120px;
            h1 {
                  font-weight: 600;
                  font-size: 40px;
            }

            h2 {
                  font-weight: 500;
                  font-size: 30px;
            }

            h3 {
                  font-weight: 400;
                  font-size: 20px;
            }


            .education_details_link {
                  font-size: 20px;
                  width: 70%;
            }
}
}