 .wrapper {
      display: flex;
      flex-direction: column;
       width: 90% !important;
   }

   
@media screen and (max-width: 896px) {

   .main-menu_active,
   .main-menu__top,
   .main_menu_nav,
   .logo {
      display: none;
   }

}
