.loader_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: 100px;
    div {
        color: aliceblue;
    }
    p {
        color: #a5a5a5;
        font-size: 13px;
        margin-bottom: 12px;
    }

    .loader {
        display: block;
        position: relative;
        height: 12px;
        width: 80%;
        border: 1px solid #fff;
        border-radius: 10px;
        overflow: hidden;
    }

    .loader:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background-image: repeating-linear-gradient(
            200deg,
            #00fffb 50px,
            #326c80 100px,
            #543d7b 150px
        );
        animation: 4s prog ease-in infinite;
    }

    @keyframes prog {
        to {
            width: 100%;
        }
    }
}

@media screen and (max-width: 896px) {
    .loader_logo {
        margin-left: 50px;
    }
}
