@mixin flex_column{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.main_menu {
   
   @include flex_column;
   background-color: #000000;
   box-sizing: border-box;
   font-size: 14px;
   width: 200px;
  
   
}

.main-menu__top {
   width: 190px;
   @include flex_column;
}

.logo {
   
      @include flex_column;
      font-family: font-file-82132;
      background-color: #000000;
      width: 190px;
      margin: 45px 0px 0px 0px;
      padding: 5px;
      position: fixed;
      z-index: 1;
   
}
.logo p{
      color: whitesmoke;
}
.logo >p {
      font-family: 'Open Sans';
      color: #a5a5a5;
      font-size: 15px;
}
@media screen and (max-width: 1300px) 
{.main-menu .logo svg {
   width: 5rem;
   height: auto;
}
}
.main_menu_nav{ 
   width: 190px;
   @include flex_column;
   border: 1px solid #454444a5;
   background: #0000001b;
   margin-top: 170px;
   margin-bottom: 25px;
   position: fixed;
   z-index: 1;
   left:10px;
   
      
     span {
      
         @include flex_column;
         flex-wrap: nowrap;
         width: 200px;
         font-size: 20px;
         color: whitesmoke;
         line-height: 50px;
         
            .active,:hover {
               color: #08fdd8;
            }
      } 
       
}