@mixin effect {
    font-family: "La Belle Aurore", cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;

    .about_skills {
        color: aquamarine;
        font-weight: 600;
        font-size: 55px;
        line-height: 60px;
        margin: 30px 10px 10px 10px;

        .skills_describe {
            color: azure;
            padding-top: 15px;
            font-size: 20px;
            line-height: 32px;
            align-self: flex-start;
            width: 100%;
            div h1 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            div h2 {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            div h3 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
                color: rgb(130, 127, 127);
            }
            div ul {
                margin-left: 20px;
                margin-bottom: 20px;
            }

            div li,
            div p {
                color: rgb(166, 165, 165);
                font-size: 18px;
                margin-bottom: 10px;
            }

            div {
                margin-bottom: 25px;
                a {
                    color: aquamarine;
                    padding: 5px;
                }
            }
        }
    }

    .skills_experience {
        font-family: "Open Sans", sans-serif;
        padding: 10px;

        .skills_list {
            font-weight: 500;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            line-height: 30px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .experience {
            background-color: rgba(169, 165, 165, 0.093);
            width: 100%;
            margin-bottom: 40px;
            padding: 25px;

            h2 {
                color: whitesmoke;
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            h3,
            h4,
            p {
                color: darkgrey;
                font-size: 20px;
            }
            h3,
            h4 {
                color: rgba(245, 245, 220, 0.588);
                font-size: 15px;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 896px) {
    .skills {
        display: flex;
        flex-direction: column;
        margin: 50px 100px 0px -120px;

        .experience {
            h2 {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 5px;
            }

            h3,
            h4,
            p {
                font-size: 15px;
            }

            h4 {
                font-size: 10px;
                margin-bottom: 15px;
            }
        }
    }
}
