.social{
   display: flex;
   flex-direction: row;
   justify-items: center;
   justify-content:center;
   position: fixed;
   width: 180px;
   margin: 430px 0px 0px 5px;
      
      .github, 
      .linkedin, 
      .telegram{
                
               &.active,
               &:hover {
                     background-color:#08fdd8;
                  }
   
         }
                  
}