.social{
   display: flex;
   flex-direction: row;
   justify-items: center;
   justify-content:center;

   margin: 7px;
   width: 80%;
      
      .github, 
      .linkedin, 
      .telegram{
                  &.active,
                  &:hover {
                     color: #08fdd8;
                  }
      }
}