.sound svg {
    height: 30px;
    margin-right: 6px;
    position: relative;

    path {
        fill: rgb(171, 23, 75);
    }
}
.sound {
    border-radius: 3px;
    padding: 20px;
    right: 20px;
    position: fixed;
    top: 4px;
    // display: flex;
    align-items: center;
    font-size: 25px;
}

.button {
    cursor: pointer;
    color: rgb(171, 23, 75);
    font-weight: 500;
    font-size: 25px;
    margin-left: 5px;
    width: 18px;
    background: #1d1d1d !important;
}

@media screen and (max-width: 1300px) {
    .sound {
        top: 0.1rem;
        left: 5px;
        font-size: 30px;
        cursor: pointer;

        .button {
            cursor: pointer !important;
            font-size: 30px;
            margin-left: 10px;
        }
    }
}
