.sound svg {
    height: 30px;
    margin-right: 7px;
    position: relative;

    path {
        fill: rgb(171, 23, 75);
    }
}

.button {
    cursor: pointer;
    color: rgb(171, 23, 75);
    font-weight: 500;
    font-size: 13px;
    margin-left: 100px;
    z-index: 20;
    width: 22px;
    position: absolute;
    background: #1d1d1d !important;
}

@media screen and (max-width: 600px) {
    .sound {
        font-size: 35px;
        cursor: pointer;

        .button {
            cursor: pointer;
            z-index: 22;
            margin-left: 127px;
            font-size: 35px;
        }
    }
    .sound svg {
        height: 40px;
    }
}

@media screen and (max-width: 1300px) {
    .sound {
        top: 0.5rem;
        right: auto;
        left: 10px;
        font-size: 35px;
        cursor: pointer;

        .button {
            cursor: pointer !important;
            font-size: 35px;
            z-index: 24;
            margin-left: 127px;
        }
    }
}

.sound {
    border-radius: 3px;
    padding: 20px;
    right: 20px;
    position: fixed;
    top: 4px;
    display: flex;
    align-items: center;
    font-size: 25px;
}
